<div class="row justify-content-center">
  <div class="col-md-7">
  <% posts.each do |post| %>
    <%= render 'shared/post', post: post, show_comments: false %>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= paginate posts, class: "pagination" %>
  </div>
  </div>
</div>
