<% provide(:title, "Posts") %>

<div class="row justify-content-center">
  <div class="col-md-7">
    <%= render @posts, show_comments: false %>
    <div class="d-flex justify-content-center">
      <%= paginate @posts, class: "pagination" %>
    </div>
  </div>
</div>
