<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="logo">
        <%= link_to "#", id: "logo" do %>
            <i class="bi bi-camera-fill"></i>
            <span>Photos</span>
        <% end %>
    </div>
  </div>
</nav>
